button {
  background: none;
  border: none;
}
body {
  position: relative;
}
textArea {
  resize: none;
}
input:focus::placeholder {
  color: transparent;
}
.pointer {
  cursor: pointer;
}
#darkBackground {
  background-color: black;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#levelModal {
  width: 400px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  z-index: 2000;
  border-radius: 0.25rem;
}
#staffModal {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  z-index: 2;
  border-radius: 0.25rem;
}
.level {
  background-color: #ffffff;
}
.fa-rectangle-xmark {
  font-size: 1.5rem;
  cursor: pointer;
}
.fa-trash-can {
  cursor: pointer;
}
.alert {
  padding: 0;
  color: red;
}
.btn:focus {
  box-shadow: none;
}
.btn:active:focus {
  box-shadow: none;
}